@font-face {
    font-family: 'happy_times';
    src: url('fonts/happy-times-at-the-ikob-webfont.woff2') format('woff2'),
         url('fonts/happy-times-at-the-ikob-webfont.woff') format('woff');
}


body{
	background: #FFEC00;
	padding-top: 1.5em;
	padding-bottom: 8em;
	overflow-x: hidden;
	font-family: 'happy_times';
}

.container {
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, a{
	font-size: 18px;
	line-height: 1.4;
  	font-weight: 400;
  	color: #222;
}

img {
	vertical-align: left;
	margin-bottom: .4rem;
}

small {
	font-size: .8rem;
}

h3 {
	font-size: 1.8rem;
	padding-bottom: 1rem;
}

h6 {
	margin-top: 1.5rem;
	font-size: 1rem;
}


a {
	text-decoration: none;
	color: initial;
} 

a:hover {
	color: #222;
 	padding-left: 15px;
}

ul {
	list-style-type: circle;
}

ul i, .grey, small, small a {
	color: #222;
}


.container-fluid, .col-sm-3, .col-md-3{
	padding-left: 0;
}

.nav {
	padding-bottom: 4em;
}

.nav span {
	padding-right: 1.5em;
}

.nav span:hover .arrow{
	color:blue;
}

.cv-row{
	display: flex;
	padding-top: 4em;
}

.cv-row .col-sm-12{
	padding-left: 0;
}

.cv-row h4{
	padding-bottom: 1em;
}

@media (max-width: 767px) {
	.row-sm-12{
		flex-direction: column;
	}
}

@media (min-width: 1200px) {
	h1, h2, h3, h4, h5, h6, p, a{
		font-size: 20px;
	}
}

@media (min-width: 1500px) {
	h1, h2, h3, h4, h5, h6, p, a{
		font-size: 22px;
	}
}

@media (min-width: 1800px) {
	h1, h2, h3, h4, h5, h6, p, a{
		font-size: 24px;
	}
}
